body, html {
  font-family: serif !important;
  background-color: #e7f3f3 !important;
}

/* custom css for the main nav */
.main-nav a{
  color: #e6f3f6 !important;
}
.main-nav a:hover{
  text-decoration: underline;
}

