
header {
  background-color: #36393e;
  margin: 0 auto;
  padding: 0 auto;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #36393e;
  margin-bottom: 15%;
}

#navbar {
  width: 100%;
  overflow: hidden;
  background-color: #2b2d31; //#4a4c51;
//Código para ponerle sombra a la navigation bar.
  -webkit-box-shadow: 0 8px 6px -6px white;
  -moz-box-shadow: 0 8px 6px -6px white;
   box-shadow: 0 8px 6px -6px white;
}

#navbar a {
  float: left;
  margin 0;
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 150%;
  font-family: 'Indie Flower';
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar a:hover {
  background-color: #4a4c51;
}

#navbar .active {
  background-color:  #6666ff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

header h1 {
 margin: 15px;
 padding-left:5%;
 text-align:center;
 font-family: 'Indie Flower';
 font-size: 700%;
 color: #ffffff; // #a0a4ac;
 text-shadow: 2px 2px 2px #191919;
}

img {
  position: absolute;
  float:left;
  width: 180px;
  top: 0px;
  height: 180px;
  padding-left: 5%;
  max-width: 100%;
}
#pass {
  margin-left: 13%;
  margin-top: 20px;
  font-family: 'Raleway';
  font-size: 160%;
  color: white;
}
#pass pre{
  display: inline;
  padding-left: 15px;
  font-family: 'Raleway';
}

#pass p{
  display: inline-block;
  font-size: 110%;
  padding-top: 0px;
}

.mpass{
  margin-top: 45  px;
  margin-left: 12%;
  color: #1bbe1b;
  text-shadow: 2px 2px 2px #159815;
  font-family: 'Laila';
  font-size: 400%;
}
